.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-background-color;
  transition: $opacity-transition, $visibility-transition;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: $secondary-text-color;
  border: 1px solid #0000001a;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  animation-name: appearModal;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.button--close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: $secondary-text-color;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid $modal-button-border;
}

.button__icon {
  width: 18px;
  height: 18px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $main-text-color;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.conteiner-modal {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

/* FORM */
.grid-modal {
  display: flex;
  flex-direction: column;
  color: $ouwer-text-color;
  font-size: 12px;
  letter-spacing: 0.01em;
  position: relative;
}

.agreement {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.agreement__wrap {
  display: flex;
  align-items: center;
  position: relative;
}
.agreement__checkbox {
  width: 16px;
  height: 15px;

  &:checked + .agreement__icon {
    width: 0;
    height: 0;
  }
}

.agreement__icon {
  position: absolute;
  width: 16px;
  height: 15px;
}

.agreement__text {
  font-size: 14px;
  color: $ouwer-text-color;
  letter-spacing: 0.03em;
  line-height: 1.7;
  margin-left: 8px;
}

.agreement__link {
  color: $acent-color;
  text-decoration-line: underline;
}

.conteiner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.modal-button {
  background-color: $acent-color;
  color: $secondary-text-color;
  cursor: pointer;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  min-width: 200px;
  padding: 10px 42px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: $color-transition, $background-transition;

  &:hover,
  &:focus {
    box-shadow: 0px 6px 6px 0px #00000026;
  }
}

/* MODAL MENU MOBILE */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.navigation__modal {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  color: $main-text-color;
  padding: 32px 0;
  transition: $color-transition;
  font-family: $main-font;
  text-decoration: none;
  display: flex;
  gap: 32px;

  &:hover,
  &:focus {
    color: $acent-color;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 0 0 40px;
  background-color: $secondary-text-color;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $main-text-color;
}

.mobile-menu {
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.conteiner-modal__contact {
  padding-top: 302px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact__modal {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $ouwer-text-color;

  &:hover,
  &:focus {
    color: $acent-color;
  }
}

.social-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.social-modal__link {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2%;
  text-align: left;
  color: $acent-color;
}
