@media screen and (max-width: 767px) {
  .section-order {
    text-align: center;
    padding: 118px 0;
    background-image: linear-gradient(to bottom, $order-shadow, $order-shadow),
      url(../images/mobile/first_img_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-color: $background-footer-color;
    max-width: 480px;
    height: 400px;
    margin: 0 auto;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .section-order {
    background-image: linear-gradient(to bottom, $order-shadow, $order-shadow),
      url(../images/mobile/first_img_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-order {
    max-width: 768px;
    background-image: linear-gradient(to bottom, $order-shadow, $order-shadow),
      url(../images/tablet/first_img_tablet.jpg);
  }
}
@media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .section-order {
    background-image: linear-gradient(to bottom, $order-shadow, $order-shadow),
      url(../images/tablet/first_img_tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .section-order {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(to bottom, $order-shadow, $order-shadow),
      url(../images/first_img_desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .section-order {
    background-image: linear-gradient(to bottom, $order-shadow, $order-shadow),
      url(../images/first_img_desktop@2x.jpg);
  }
}

.section-order__header {
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  color: $secondary-text-color;
  line-height: 1.5;
  max-width: 365px;

  margin: 0 auto;

  @include mq(tablet) {
  }

  @include mq(desktop) {
    font-size: 44px;
    max-width: 696px;
  }
}

.button__order {
  background-color: $acent-color;
  color: $secondary-text-color;
  cursor: pointer;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  min-width: 200px;
  padding: 10px 42px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  transition: $color-transition, $background-transition;

  &:hover,
  &:focus {
    background-color: $buttons-port-color;
    color: $main-text-color;
  }
}
