.section-order {
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(to bottom, $order-shadow, $order-shadow),
    url(../images/first_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $background-footer-color;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.section-order__header {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  color: $secondary-text-color;
  line-height: 1.5;
  width: 696px;
  margin: 0 auto;
}

.button__order {
  background-color: $acent-color;
  color: $secondary-text-color;
  cursor: pointer;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  min-width: 200px;
  padding: 10px 42px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  transition: $color-transition, $background-transition;

  &:hover,
  &:focus {
    background-color: $buttons-port-color;
    color: $main-text-color;
  }
}
