/* color */

$main-text-color: #212121;
$secondary-text-color: #ffffff;
$ouwer-text-color: #757575;
$acent-color: #2196f3;
$logo-color-text: #000000;
$background-footer-color: #2f303a;
$buttons-port-color: #f5f4fa;
$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-email-border: rgba(255, 255, 255, 0.3);
$footer-shadow: #00000026;
$icon-social-color: #afb1b8;
$contener-color: #eeeeee;
$line-color: #ececec;
$background-all-color: #e5e5e5;
$footer-circle-color: #ffffff1a;
$modal-form-color: #21212133;
$modal-background-color: #00000033;
$modal-button-border: rgba(0, 0, 0, 0.1);
$order-shadow: rgba(47, 48, 58, 0.4);
$product-color: rgba(47, 48, 58, 0.8);

/* font */

$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;

/* transition */
$color-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$shadow-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transform-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
$background-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$opacity-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
$visibility-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
$fill-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

body {
  font-family: $main-font;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
  margin-top: 20px;
}

button {
  display: block;
  border: none;
  border-radius: 4px;
}

nav {
  margin-left: 93px;
}

footer {
  background-color: $background-footer-color;
  padding: 60px 0;
}

.section__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  overflow: hidden;
}
