/* logo */
.logo-studio {
  font-family: $logo-font;
  color: $logo-color-text;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(desktop) {
    display: inline-block;
    font-size: 26px;
  }

  &__web {
    color: $acent-color;
  }
}

.logo-studio__white {
  @extend .logo-studio;
  color: $secondary-text-color;
}
